.header {
    display: flex;
    max-width: 880px;
    width: 100%;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
    margin-top: 45px;
    padding-bottom: 40px;
}

@media screen and (max-width: 320px) {
    .header {
        padding: 28px 0 28px 28px;
    }

}