.popup__form {
  width: 358px;
  margin: auto;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-right: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width: 600px) {
  .popup__form {
      width: 238px;
      padding-top: 60px;
      height: 275px;
  }
}