.popup__close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .popup__close-btn {
        right: 0;
        top: -35px;
    }

    .popup__close-btn svg {
        width: 20px;
        height: 20px;
    }
}