.elements__item {
  align-items: center;
  max-width: 282px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width:320px) {
  .elements__item {
    max-height: 361px;
  }
}